#library file
/lib
/.idea/


#folder
/31Ah-Battery-1-30-2018
/data
/bad_data
/Echoes-test-data/


#python file
temp.py
detect_crappy_data.py

#system files
.idea/Python-script.iml
.idea/modules.xml
.idea/workspace.xml

