#library file
/lib
/.idea/

#folder
/31Ah-Battery-1-30-2018
/data/
/EchOES-test-data
/Mercs-07-26
/Me01-H100_180726
/Me01-H100_180728
/Me01-H100_180730
/Me02-H100_180731

#python file
temp.py
detect_crappy_data.py

#system files
.idea/Python-script.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml

